extends ./admin-layout

block content
  h1 Entities

  if identities.length === 0
    p There are no entities. Create some messages!
  else
    table.table.table-hover
      thead
        tr
          th(scope='col') Entity ID
          th(scope='col') Message Count
          th(scope='col') Last Message Global ID
      tbody
        each identity in identities
          tr
            td(scope='col')
              a(href=`/admin/identities/${identity.id}`)= identity.id
            td(scope='col')= identity.messageCount
            td(scope='col')
              a(href=`/admin/messages/${identity.lastMessageId}`)= identity.lastMessageGlobalPosition
