extends ./admin-layout

block content
  h1 Entities

  if entities.length === 0
    p There are no entities. Create some messages!
  else
    table.table.table-hover
      thead
        tr
          th(scope='col') Entity ID
          th(scope='col') Message Count
          th(scope='col') Last Message Global ID
      tbody
        each entity in entities
          tr
            td(scope='col')
              a(href=`/admin/entities/${entity.id}`)= entity.id
            td(scope='col')= entity.messageCount
            td(scope='col')
              a(href=`/admin/messages/${entity.lastMessageId}`)= entity.lastMessageGlobalPosition
